#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/opt/apps/net.winegame.client/files

override_dh_installdocs:
	cp debian/copyright debian/net.winegame.client/opt/apps/net.winegame.client/files/
	cp -r deepin/* debian/net.winegame.client/opt/apps/net.winegame.client/

override_dh_installchangelogs:
	cp debian/changelog debian/net.winegame.client/opt/apps/net.winegame.client/files/
