Source: net.winegame.client
Section: games
Priority: optional
Maintainer: 老虎会游泳 <hu60.cn@qq.com>
Build-Depends: debhelper-compat (= 12),
               appstream,
               dh-sequence-python3,
               meson,
Rules-Requires-Root: no
Standards-Version: 4.5.0
Homepage: https://winegame.net
Vcs-Browser: https://gitee.com/winegame/lutris
Vcs-Git: https://gitee.com/winegame/lutris.git

Package: net.winegame.client
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-yaml,
         python3-lxml,
         python3-requests,
         python3-pil,
         python3-gi,
         python3-setproctitle,
         python3-magic,
         python3-distro,
         python3-dbus,
         gir1.2-gtk-3.0,
         gir1.2-webkit2-4.0,
         gir1.2-notify-0.7,
         psmisc,
         cabextract,
         unzip,
         p7zip,
         curl,
         fluid-soundfont-gs,
         x11-xserver-utils,
         mesa-utils,
Recommends: vulkan-utils,
            libvulkan1,
            libvulkan1:i386,
            libgnutls30,
            libgnutls30:i386,
            winbind,
            zenity,
            wine | wine-devel | wine-stable | wine-staging,
            python3-evdev,
            gvfs-backends,
            libwine-development,
            winetricks,
Suggests: gamemode,
Description: 开源游戏平台
 在 UOS/Deepin/Linux 上玩你喜欢的 Windows 游戏
